    <!-- Main -->
      <div class="wrapper style2">
        <div class="title">Sign Up</div>
        <div id="main" class="container">
          <div class="row 150%">
            <div class="4u">
              
              <!-- Sidebar -->
                <div id="sidebar">
                  <section class="box">
                    <header>
                      <h2>Black Magic Time Travel Sollutions</h2>
                    </header>
                    <p>Through the development of Modern Science, and cutting edge technologies, our team of dedicated scientists work relentlessly to bring you a once in a lifetime Time Travel experience.</p>
                    <a href="#" class="button style1">Learn More</a>
                  </section>
                  <section class="box">
                    <header>
                      <h2>On the Shoulders of Giants</h2>
                    </header>
                    <ul class="style2">
                      <li>
                        <article class="box post-excerpt">
                          <a href="#" class="image left"><img src="/assets/pic08.jpg" alt="" /></a>
                          <h3><a href="#">Professor Stephen Hawking</a></h3>
                          <p>Through his investigation into the nature of Black Holes, Professor Stephen Hawking laid the ground work for the science of Black Magic's technologies.</p>
                        </article>
                      </li>
                      <li>
                        <article class="box post-excerpt">
                          <a href="#" class="image left"><img src="/assets/pic09.jpg" alt="" /></a>
                          <h3><a href="#">Albert Einstein</a></h3>
                          <p>By reversing the axioms on which Albert Einstein framed his great General Theory of Relativity, Black Magic has discovered a way to travel into the past.</p>
                        </article>
                      </li>
                    </ul>
                </div>
              
            </div>
            <div class="8u important(collapse)">
            
              <!-- Content -->
                <div id="content">
                  <article class="box post">
                    <header class="style1">
                      <h2>Enter your Email Address and create a Password to begin booking your Reservation today.</h2>
                      <p>This Month we will be travelling back to Dallas Texas on November 22, 1963 to investigate the Assassination of President John F. Kennedy.</p>
                    </header>
                    <a href="#" class="image featured">
                      <img src="/assets/pic01.jpg" alt="" />
                    </a>
   
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
                  </article>
            
            </div>
          </div>
        </div>
      </div>
                  </article>
                
               
            
            </div>
          </div>
        </div>
      </div>

