    <!-- Main -->
      <div class="wrapper style2">
        <div class="title">Left Sidebar</div>
        <div id="main" class="container">
          <div class="row 150%">
            <div class="4u">
              
              <!-- Sidebar -->
                <div id="sidebar">
                  <section class="box">
                    <header>
                      <h2>Ipsum nullam luctus</h2>
                    </header>
                    <p>Malesuada quis eget eros. Nullam sodales cursus sapien, id consequat 
                    leo suscipit ut. Praesent id turpis vitae turpis pretium ultricies. Vestibulum sit 
                    amet risus elit.</p>
                    <a href="#" class="button style1">Learn More</a>
                  </section>
                  <section class="box">
                    <header>
                      <h2>Vitae turpis consequat</h2>
                    </header>
                    <ul class="style2">
                      <li>
                        <article class="box post-excerpt">
                          <a href="#" class="image left"><img src="images/pic08.jpg" alt="" /></a>
                          <h3><a href="#">Diam odio lorem</a></h3>
                          <p>Duis odio diam, luctus et vulputate vitae, vehicula ac dolor. Pellentesque at urna eget tellus sed etiam.</p>
                        </article>
                      </li>
                      <li>
                        <article class="box post-excerpt">
                          <a href="#" class="image left"><img src="images/pic09.jpg" alt="" /></a>
                          <h3><a href="#">Sed duis consequat</a></h3>
                          <p>Duis odio diam, luctus et vulputate vitae, vehicula ac dolor. Pellentesque at urna eget tellus sed etiam.</p>
                        </article>
                      </li>
                    </ul>
                </div>
              
            </div>
            <div class="8u important(collapse)">
            
              <!-- Content -->
                <div id="content">
                  <article class="box post">
                    <header class="style1">
                      <h2>Lorem ipsum dolor sit amet magna egestas morbi bibendum sed malesuada</h2>
                      <p>Tempus feugiat veroeros sed nullam dolore</p>
                    </header>
                    <a href="#" class="image featured">
                      <img src="images/pic01.jpg" alt="" />
                    </a>
   
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
                  </article>
            
            </div>
          </div>
        </div>
      </div>
                  </article>
                
               
            
            </div>
          </div>
        </div>
      </div>

