<p id="notice"><%= notice %></p>

    <!-- Ticket-->
      <div id="intro-wrapper" class="wrapper style1">
        <div class="title">|Passanger Ticket</div>
       
<table class="defualt">
  <tr>
    <td>
      <img src="/assets/logo.jpg" width="100" height="100" alt="" />
    </td>
  </tr>
  <tr>
    <td> 
        <strong>First Name: </strong>
        <%= @purchase.fname %>
    </td>
    <td>
        <strong>Last Name:</strong>
             <%= @purchase.lname %>
    </td>

  </tr>
  <tr>
    <td>
      <strong>Destination: </strong>
      Dallas Texas, 1963
    </td>
    <td>
        <strong>Event:</strong>
        The Assasination of JFK
    </td> 
    <td>
      <strong>Departure: </strong>
      May 7th, 2015. CCRI Warwick, Rhode Island
    </td>
  </tr>
  <tr>
    <td>
        <strong>Gate Number: 4078</strong>
    </td>
        <td>
        <strong>Seat Number: </strong>
        420-A
    </td>
        <td>
        <strong>Return: </strong>
      May 7th, 2015. CCRI Warick, Rhoe Island
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
          <td>
            <strong>Ticket#:</strong>
          <%=@purchase.id %>
      <img src="/assets/barcode.jpg" width="200" height="100" alt="" />
    </td>
</tr>
</table>
<p>
  <strong>Requests:</strong>
  <%= @purchase.requests %>
</p>
          <ul class="actions">
            <li><a href="#" class="button style3 big">Thank You For Flying Black Magic</a></li>
          </ul>
        </section>
      </div>
    

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
