<!DOCTYPE html>

<html>

<head>
  <title>Black Magic: Time travelers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
      <script src="/assets/jquery.min.js"></script>
    <script src="/assets/jquery.dropotron.min.js"></script>
    <script src="/assets/skel.min.js"></script>
    <script src="/assets/skel-layers.min.js"></script>
    <script src="/assets/init.js"></script>
    <link rel="shortcut icon" href="/assets/logo.jpg" /> 
</head>

		<!-- Header -->
			<div id="header-wrapper" class="wrapper">
				<div id="header">
					
					<!-- Logo -->
						<div id="logo">
							<h1><a href="index.html">Black Magic</a></h1>
							<p>Inovators in Time Travel Technologies since 2015</p>
						</div>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li>
									<a href="">Book Reservation</a>
									<ul>
										<li><a href="#">Purchase Ticket</a></li>
										<li><a href="#">Roll Call</a></li>
										<li><a href="#">Itenerary</a></li>
										<li>
											<a href="">Your Trip</a>
											<ul>
												<li><a href="#">Update User Information</a></li>
												<li><a href="#">Travel Ticket</a></li>
												<li><a href="#">Travel Documents</a></li>
												<li><a href="#">Special Requests</a></li>
												<li><a href="#">Disclaimer</a></li>
											</ul>
										</li>
										<li><a href="#">JFK Assasination History</a></li>
									</ul>
								</li>
								<li><a href="left-sidebar.html">Online Store</a></li>
								<li><a href="right-sidebar.html">About Us</a></li>
								<li><a href="#footer">Contact</a></li>
							</ul>
						</nav>

				</div>
			</div>

	<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<body class="homepage">
<%= yield %>
		<!-- Highlights -->
			<div class="wrapper style3">
				<div class="title">Our Other Trips Through Time</div>
				<div id="highlights" class="container">
					<div class="row 150%">
						<div class="4u">
							<section class="highlight">
								<a href="#" class="image featured"><img src="/assets/pic02.jpg" alt="" /></a>
								<h3><a href="#">The Apollo Moon Landing</a></h3>
								<p>In this Journey back to the time of the Cold War, adventerures will enjoy the unique pleasure of watching Niel Armstrong take Man's "Ginat Leap"</p>
								<ul class="actions">
									<li><a href="#" class="button style1">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section class="highlight">
								<a href="#" class="image featured"><img src="/assets/pic03.jpg" alt="" /></a>
								<h3><a href="#">Boston Tea Party</a></h3>
								<p>Come Join Us on our brief gettaway to a time when the American Citizens protested the English Tea Tax and started a Revolution for Independence.</p>
								<ul class="actions">
									<li><a href="#" class="button style1">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section class="highlight">
								<a href="#" class="image featured"><img src="/assets/pic04.jpg" alt="" /></a>
								<h3><a href="#">Prohibition</a></h3>
								<p>welcome to the Roaring Twenties. This quick stroll down memory lane will have our travelers fully engulfed in a time when crime was the law of the land.</p>
								<ul class="actions">
									<li><a href="#" class="button style1">Learn More</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>

		<!-- Footer -->
			<div id="footer-wrapper" class="wrapper">
				<div class="title">Get In Touch</div>
				<div id="footer" class="container">
					<header class="style1">
						<h2>Need To Conatact a Black Magic Rep?</h2>
						<p>
							By sending a message through the messaging service to your right you will reaching our Customer Service Agents Directly<br />
							Please double check the spelling of the email to insure a response.
						</p>
					</header>
					<hr />
					<div class="row 150%">
						<div class="6u">

							<!-- Contact Form -->
								<section>
									<form method="post" action="#">
										<div class="row 50%">
											<div class="6u">
												<input type="text" name="name" id="contact-name" placeholder="Name" />
											</div>
											<div class="6u">
												<input type="text" name="email" id="contact-email" placeholder="Email" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<textarea name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<ul class="actions">
													<li><input type="submit" class="style1" value="Send" /></li>
													<li><input type="reset" class="style2" value="Reset" /></li>
												</ul>
											</div>
										</div>
									</form>
								</section>

						</div>
						<div class="6u">
						
							<!-- Contact -->
								<section class="feature-list small">
									<div class="row">
										<div class="6u">
											<section>
												<h3 class="icon fa-home">Address</h3>
												<p>
													Black Magic<br />
													27 Richter St #987<br />
													Providence, RI 02879
												</p>
											</section>
										</div>
										<div class="6u">
											<section>
												<h3 class="icon fa-comment">Social</h3>
												<p>
													<a href="#">@Black Magic</a><br />
													<a href="#">linkedin.com/blackmagic</a><br />
													<a href="#">facebook.com/blackmagic</a>
												</p>
											</section>
										</div>
									</div>
									<div class="row">
										<div class="6u">
											<section>
												<h3 class="icon fa-envelope">Email</h3>
												<p>
													<a href="#">info@blackmagic.com</a>
												</p>
											</section>
										</div>
										<div class="6u">
											<section>
												<h3 class="icon fa-phone">Phone</h3>
												<p>
													(401) 450-8878
												</p>
											</section>
										</div>
									</div>
								</section>
								
						</div>
					</div>
					<hr />
				</div>
				<div id="copyright">
					<ul>
						<li>&copy; Black Magic Time Travel</li><li>Design: <a href="https://www.facebook.com/jstearnzy">jpStearns @Kind inc.</a></li>
					</ul>
				</div>
			</div>
</body>
</html>
